body {
    color: #333;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
body.page-top {
    margin: 0;
}
.Header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 70px;
    margin: 0;
    background-color: #FFF;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.05);
}
.HeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 35px;
    position: relative;
}
.HeaderLogo {
    width: 185px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.HeaderNavList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.HeaderNavListItem {
    margin-right: 45px;
}
.HeaderNavListItem:last-child {
    margin-right: 0;
}
.HeaderNavListItem_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 14.4px;
    text-decoration: none;
    color: #333;
}
.HeaderNavListItem_link>span {
    font-weight: 500;
}
.HeaderNavLabEn {
    font-size: 12px;
    margin-bottom: 5px;
    font-family: "Lato", sans-serif;
}
.HeaderNavLabJp {
    font-size: 10px;
}
.HeaderNavListItem_button {
    display: flex;
    flex-direction: column;
    background-color: #F79214;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    height: 40px;
    text-align: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 38px;
    text-decoration: none;
}
.HeaderLogo:hover img {
    opacity: 0.7;
    transition: opacity 0.2s;
    cursor: pointer;
}
.HeaderNavListItem_link:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
    cursor: pointer;
}
.HeaderNavListItem_button:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
    cursor: pointer;
}
.FirstView {
    position: relative;
    height: 739px;
}
.FirstView_bg-image {
    position: absolute;
    display: block;
}
.FirstView_bg-image--left-rectangle {
    top: -70px;
    left: 0;
    z-index: 1;
}
.FirstView_bg-image--right-rectangle {
    right: 0;
    bottom: 70px;
}
.FirstView_bg-image--fill-rectangle {
    top: 84px;
    left: -70px;
}
.FirstView_bg-image--main-visual {
    top: -70px;
    right: 0;
    width: 775px;
}
.FirstView_Container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 219px;
    position: relative;
}
.FirstViewContent {
    position: relative;
    width: fit-content;
}
.FirstViewContent_title {
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 63px;
    margin-bottom: 16px;
}
.FirstViewContent_badge-image {
    position: absolute;
    top: -105px;
    right: -150px;
}
.FirstViewContent_button {
    background-color: #F79214;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
    cursor: pointer;
    align-items: center;
    border-radius: 38px;
    flex-direction: column;
}
.FirstViewContent_caption {
    font-size: 12px;
    line-height: 16px;
}
.FirstViewContent_button:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
}
p {
    color: #333;
}
.HeaderNavHamburger {
    display: none;
}
@media screen and (max-width: 1080px) {
.HeaderNavHamburger {
    cursor: pointer;
    display: block;
    position: absolute;
    width: 24px;
    height: 18px;
    margin: auto;
    z-index: 1000;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
 }
}
@media screen and (max-width: 1080px) {
.HeaderNavHamburger_line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #A2A2A4;
    margin: 4px 0;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
 }
}
@media screen and (max-width: 1080px) {
.HeaderNavHamburger_line:first-child {
    top: 0;
 }
}
@media screen and (max-width: 1080px) {
.HeaderNavHamburger_line:last-child {
    top: 100%;
}
}
@media screen and (max-width: 1080px) {
.HeaderNav {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 99;
 }
}
.HeaderNavList.is-open {
    display: flex;
}
@media screen and (max-width: 1080px) {
 .HeaderNavList {
    display: none;
    flex-direction: column;
    background-color: #FFF;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 999;
    padding: 20px;
 }
}
@media screen and (max-width: 1080px) {
 .HeaderNavListItem {
    margin: 10px 0;
 }
}
.FirstView_whole-image {
    display: none;
}
@media screen and (max-width: 767px) {
 .FirstView_whole-image {
    display: block;
    margin-bottom: 7px;
    width: 100%;
 }
}
@media screen and (max-width: 767px) {
 .FirstView_bg-image {
    display: none;
 }
}
@media screen and (max-width: 767px) {
 .FirstViewContent_title {
    font-size: 22px;
    line-height: 36px;
    position: relative;
    width: fit-content;
 }
}
@media screen and (max-width: 767px) {
 .FirstViewContent_badge-image {
    height: 102px;
    width: 102px;
    top: -20px;
    right: -110px;
 }
}
@media screen and (max-width: 767px) {
 .FirstViewContent_button {
    width: 100%;
 }
}
@media screen and (max-width: 767px) {
 .FirstView_Container {
    max-width: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
 }
}